#image{
    margin-top: 1%;
    align-items: center;
}


#title{

align-items: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin: 25px;
}





